@using Entity
@model List<Incident>

@{
    ViewData["Title"] = "IncidentList";
    Layout = "~/Views/Shared/GuardLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Incident" asp-action="IncidentList" method="get">
                    <label for="filterDate">Tarihe Göre Filtrele:</label>
                    <input type="date" id="filterDate" name="filterDate" value="@ViewBag.FilterDate" onchange="this.form.submit()">
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th> Olay Başlığı </th>
                            <th> Nöbet Adı </th>
                            <th> Tarih </th>
                            <th> Olay Detayı </th>
                            <th> Nöbetci </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.IncidentName</td>
                                <td><label class="badge badge-gradient-success">@item.Shift.ShiftType</label></td>
                                <td>@item.IncidentDatetime.ToString("dd-MMM-yyyy")</td>
                                <td><a href="/Incident/IncidentReadAll/@item.IncidentId" class="btn-sm btn-dark">Detaylar</a></td>
                                <td>@(item.Guard != null ? item.Guard.GuardName : "Nöbetçi Atanmamış")</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

